@model Joe_Pizza.Models.Pizza
@using Newtonsoft.Json

@{
    ViewData["Title"] = "ViewCart";
}

@if (TempData["cart"] != null)
{


    <table class="table table-responsive" style="background-color:cadetblue; color: antiquewhite;">

        <thead>
            <tr style="color:black;">
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>BILL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in  JsonConvert.DeserializeObject<List<Joe_Pizza.Models.PizzaModel>>((string)TempData["cart"]) as List<Joe_Pizza.Models.PizzaModel>)
            {

                <tr style="color:black;">
                    <td>@item.productid</td>
                    <td>@item.productname</td>
                    <td>@item.price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Bill</td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("remove", new {id=@item.productid})">&#10008;</a>
                    </td>

                </tr>

            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td style="color:black;">@TempData["total"]</td>

            </tr>
        </tfoot>

    </table>





}
else
{
    <h2 style="color:red"> Cart is empty....</h2>
    @Html.ActionLink("go Back", "Index", "Home")
}


@if (TempData["cart"] != null)
{
    using (Html.BeginForm())
    {
        <input type="submit" value="Confirm" class="btn btn-primary" />
    }
}